/* select-cards.html */
html {
    background-color: var(--indigo-500);
    overflow-y: hidden;
}

.select-cards-body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.select-cards-title {
    font-family: 'Macondo', Courier, monospace;
    color: var(--sky-100);
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-align: center;
}

.cards-instruction {
    color: var(--yellow-500);
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

@media (max-width: 768px) {
    .select-cards-title {
        font-size: 1.3rem;
    }

    .cards-instruction {
        font-size: 1rem;
    }
}

.cards-window {
    background-color: var(--indigo-800);
    /* border: 1px solid red; */
    max-width: 500px;
    max-height: 600px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.cards-window::-webkit-scrollbar {
    display: none;
}

@media (max-width: 768px) {
    .cards-window {
        margin-inline: 2rem;
    }
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    padding: 10px;
    gap: 10px;
}

.tarot-card {
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flipped {
    transform: rotateY(180deg);
}
