/* index.html */
html {
    background-color: var(--indigo-500);
    overflow-y: hidden;
}

.index-body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.index-navbar {
    background-color: var(--purple-800);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem;
}

.index-menu-button {
    cursor: pointer;
    border-radius: 0.5rem;
    background-color: var(--purple-900);
    display: flex;
    justify-content: center;
    align-items: center;
}

.index-menu-button:hover {
    background-color: var(--indigo-900);
    transition: background-color 0.5s ease;
}

.index-menu {
    display: none;
}

.index-menu > a {
    text-decoration: none;
    color: var(--slate-800);
    border-radius: 0.5rem;
    padding-block: 0.8rem;
    width: 5rem;
    text-align: center;
    background-color: var(--indigo-200);
    border: solid 1px var(--slate-800);
}

.index-menu > a:hover {
    background-color: var(--slate-800);
    color: var(--indigo-200);
    transition: background-color 0.5s ease;
}

.index-menu-open {
    display: flex;
    position: absolute;
    right: 1rem;
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--indigo-300);
    padding: 1rem;
    border-radius: 0.5rem;
    gap: 1rem;
    z-index: 1;
}

.index-menu-button > svg {
    color: var(--yellow-500);
    width: 70%;
}

@media (max-width: 768px) {
    .index-navbar > img {
        display: none;
    }
}

.index-navbar > img {
    margin-inline: 1.5rem;
    position: absolute;
    left: 10px;
}

.intro-container {
    flex-grow: 2;
    background-image: url('public/assets/img/background/frontPage.jpeg');
    background-size: 45rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro-title {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 2rem;
    margin-top: 4rem;
    font-family: 'Macondo', Courier, monospace;
    color: var(--gold-100);
}

@media (max-width: 768px) {
    .intro-title {
        font-size: 3.5rem;
    }
}

.intro-tarot-start-button {
    background-color: var(--yellow-500);
    color: var(--slate-800);
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    font-family: 'Macondo', Courier, monospace;
    font-size: 1.5rem;
    font-weight: 500;
    cursor: pointer;
    border: solid 1px var(--slate-800);
}

.intro-tarot-start-button:hover {
    background-color: var(--purple-800);
    color: var(--yellow-500);
    transition: background-color 0.5s ease;
}

.intro-tarot-cards {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    perspective: 1200px;
    height: 200px; /* Adjust this to control the radius of the 'fan' */
    position: relative;
    overflow: visible;
    margin-top: 5rem;
}

.intro-tarot-card {
    position: absolute;
    transform-origin: center bottom;
    width: 160px;
}

@media (max-width: 768px) {
    .intro-tarot-card {
        width: 130px;
    }

    .intro-tarot-cards {
        margin-top: 2rem;
    }
}

.intro-tarot-card:nth-child(1) {
    transform: rotateZ(-40deg);
}

.intro-tarot-card:nth-child(2) {
    transform: rotateZ(-20deg);
}

.intro-tarot-card:nth-child(3) {
    transform: rotateZ(0deg);
}

.intro-tarot-card:nth-child(4) {
    transform: rotateZ(20deg);
}

.intro-tarot-card:nth-child(5) {
    transform: rotateZ(40deg);
}

.intro-tarot-card > img {
    width: 100%;
}

.dropdown {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 200px;
    height: 40px;
    font-size: 16px;
}
