/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* custom css */

/* global */
@font-face {
    font-family: 'Roboto';
    src: url('./assets/font/Roboto-Regular.ttf');
}

@font-face {
    font-family: "Macondo";
    src: url('./assets/font/Macondo-Regular.ttf');
}


body {
    font-family: "Roboto", Courier, monospace;
}

a {
    text-decoration: none;
}

:root {
    --sky-100: #e0f2fe;
    --sky-200: #bae6fd;
    --slate-800: #1e293b;
    --orange-500: #f97316;
    --yellow-500: #eab308;
    --yellow-600: #ca8a04;
    --indigo-50: #eef2ff;
    --indigo-100: #e0e7ff;
    --indigo-200: #c7d2fe;
    --indigo-300: #a5b4fc;
    --indigo-400: #818cf8;
    --indigo-500: #6366f1;
    --indigo-600: #4f46e5;
    --indigo-700: #4338ca;
    --indigo-800: #3730a3;
    --indigo-900: #312e81;
}

/* index.html */
.index-body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.index-navbar {
    background: var(--indigo-800);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 1.2rem;
}

.index-navbar > a {
    margin-inline: 1.5rem;
    text-decoration: none;
    color: var(--slate-800);
    border-radius: 0.5rem;
    padding-block: 0.8rem;
    width: 8rem;
    text-align: center;
    border: solid 1px var(--slate-800);
    background-color: var(--yellow-500);
}

/* create an animated hover effect */
.index-navbar > a:hover {
    background-color: var(--slate-800);
    color: var(--yellow-500);
    transition: background-color 0.5s ease;
}

.index-navbar > img {
    margin-inline: 1.5rem;
    position: absolute;
    left: 10px;
}

.intro-container {
    flex-grow: 2;
    background-color: var(--indigo-500);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro-title {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 2rem;
    margin-top: 4rem;
    font-family: "Macondo", Courier, monospace;
    color: var(--sky-100);
}

@media (max-height: 700px) {
    .intro-title {
        font-size: 3rem;
    }
}

.intro-8ball-start-button {
    background-color: var(--yellow-500);
    color: var(--slate-800);
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    font-weight: 500;
    cursor: pointer;
    border: solid 1px var(--slate-800);
}

.intro-8ball-start-button:hover {
    background-color: var(--slate-800);
    color: var(--yellow-500);
    transition: background-color 0.5s ease;
}