/* index.html */
.index-body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.index-navbar {
    background-color: #2e3e92;
    /*background-color: #253275 ;*/
    /*background-color: #483d8b;*/
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 1.2rem;
}

.index-navbar > a {
    margin-inline: 1.5rem;
    text-decoration: none;
    color: var(--slate-800);
    border-radius: 0.5rem;
    padding-block: 0.8rem;
    width: 8rem;
    text-align: center;
    border: solid 1px var(--slate-800);
    background-color: var(--yellow-500);
}

/* create an animated hover effect */
.index-navbar > a:hover {
    background-color: var(--slate-800);
    color: var(--yellow-500);
    transition: background-color 0.5s ease;
}

.index-navbar > img {
    margin-inline: 1.5rem;
    position: absolute;
    left: 10px;
}

.intro-container {
    flex-grow: 2;
    background-color: var(--blue-300);
    background-image: url(intro.jpg);
    background-position: center;
    background-size: 128rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro-title {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    margin-top: 2rem;
    font-family: 'Macondo', Courier, monospace;
    color: var(--sky-200);
}

@media (max-height: 700px) {
    .intro-title {
        font-size: 3rem;
    }
}

.intro-8ball-start-button {
    background-color: var(--yellow-500);
    color: var(--slate-800);
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    font-weight: 500;
    cursor: pointer;
    border: solid 1px var(--slate-800);
}

.intro-8ball-start-button:hover {
    background-color: var(--slate-800);
    color: var(--yellow-500);
    transition: background-color 0.5s ease;
}

.intro-text {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-family: 'Macondo', Courier, monospace;
    color: var(--sky-200);
}
