.index-body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.index-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 1.2rem;
}

.index-navbar > select {
    margin-inline: 1.5rem;
    border-radius: 0.5rem;
    text-decoration: none;
}

.index-navbar > a {
    margin-inline: 2rem;
    text-decoration: none;
    color: var(--slate-800);
    border-radius: 0.5rem;
    padding-block: 0.8rem;
    width: 8rem;
    text-align: center;
    border: solid 1px var(--slate-800);
    background-color: var(--yellow-500);
}

/* create an animated hover effect */
.index-navbar > a:hover {
    background-color: var(--slate-800);
    color: var(--yellow-500);
    transition: background-color 0.5s ease;
}

@media (min-width: 1000px) {
    .index-navbar > a {
        margin-inline: 0;
        position: absolute;
        right: 10px;
        top: 8px;
    }
    .index-navbar > select {
        position: absolute;
        left: 10px;
    }
}

.intro-container {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#intro-title {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 2rem;
    margin-top: 4rem;
    font-family: "Macondo", Courier, monospace;
    color: var(--sky-100);
}

@media (max-height: 700px) {
    .intro-title {
        font-size: 3rem;
    }
}

#answer {
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    color: black;
    padding-inline: 30px;
    padding-block: 30px;
    border-radius: 10px;
    user-select: none
}

.magic-8-ball {
    width: 500px;
    height: 500px;
    background: radial-gradient(circle at 50% 45%, #222, #111 70%);
    border-radius: 50%;
    cursor: pointer;
    margin: auto;
    position: relative;
    box-shadow: inset 0px 5px 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}

/* movement of background */
body {
    font-family: Arial, sans-serif;
    color: #fff;
    background: linear-gradient(45deg, red, blue, green);
    background-size: 750% 500%;
    animation: animate 15s ease infinite;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* animations */
@keyframes animate {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

@keyframes shake {
    0%,
    100% {
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateX(-5px);
    }

    20%,
    40%,
    60%,
    80% {
        transform: translateX(5px);
    }
}

input[type="text"] {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #ccc;
    font-size: 16px;
    background-color: #f8f8f8;
    border-radius: 10px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

input[type="text"]:focus {
    outline: none;
    border-bottom: 2px solid #555;
}

.question {
    user-select: none;
    font-size: 24px;
    line-height: 1.5;
}

.shaking {
    animation: shake 0.5s;
}

/* backgrounds for body*/
body.magicball {
    background: url('magicball.png') no-repeat center center fixed;
    background-size: cover;
}
  
body.stars {
    background: url('night-stars.gif') no-repeat center center fixed;
    background-size: cover;
}

/* flexbox for textbox area*/
.text-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 3rem;
}

.intro-container {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}